TadaNomina/Connected Services/ServiceReferenceTP/TurboPacWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://turbopac.mx/TurboPac" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TurboPacWs" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITurboPacWs_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://turbopac.mx/TurboPac" location="https://ws.turbopac.mx/TimbradoTp/TurboPacWs.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITurboPacWs" type="i0:ITurboPacWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbraCfdi">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraCfdi33">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraCfdi33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraURLCfdi33">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraURLCfdi33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaCfdi">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/CancelaCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraRetencion">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaRetencion">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/CancelaRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerStatusUuid">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/ObtenerStatusUuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITurboPacWs" type="i0:ITurboPacWs">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITurboPacWs_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbraCfdi">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraCfdi33">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraCfdi33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraURLCfdi33">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraURLCfdi33" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaCfdi">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/CancelaCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbraRetencion">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/TimbraRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaRetencion">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/CancelaRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerStatusUuid">
      <soap:operation soapAction="http://turbopac.mx/TurboPac/ITurboPacWs/ObtenerStatusUuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TurboPacWs">
    <wsdl:port name="BasicHttpBinding_ITurboPacWs" binding="tns:BasicHttpBinding_ITurboPacWs">
      <soap:address location="http://win-spp7sismh7p/TimbradoTp/TurboPacWs.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITurboPacWs" binding="tns:BasicHttpsBinding_ITurboPacWs">
      <soap:address location="https://ws.turbopac.mx/TimbradoTp/TurboPacWs.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>