TadaNomina/Connected Services/ServiceReferenceTP/TurboPacWs2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://turbopac.mx/TurboPac" elementFormDefault="qualified" targetNamespace="http://turbopac.mx/TurboPac" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.turbopac.mx/TimbradoTp/TurboPacWs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PacUtils.Core" />
  <xs:element name="TimbraCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="TimbraCfdiResult" nillable="true" type="q1:RespuestaTimbrado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdi33">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdi33Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="TimbraCfdi33Result" nillable="true" type="q2:RespuestaTimbrado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraURLCfdi33">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraURLCfdi33Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="TimbraURLCfdi33Result" nillable="true" type="q3:RespuestaTimbrado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestCancelacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="CancelaCfdiResult" nillable="true" type="q4:RespuestaCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraRetencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraRetencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="TimbraRetencionResult" nillable="true" type="q5:RespuestaTimbrado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaRetencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestCancelacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaRetencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="CancelaRetencionResult" nillable="true" type="q6:RespuestaCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerStatusUuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerStatusUuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PacUtils.Core" minOccurs="0" name="ObtenerStatusUuidResult" nillable="true" type="q7:ResultadoConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>