TadaNomina/Connected Services/ServiceReferenceTPCancelacionQA40/Cancela42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tp.OneToOneCancelacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tp.OneToOneCancelacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseCancel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSeguimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recib" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseCancel" nillable="true" type="tns:ResponseCancel" />
</xs:schema>