TadaNomina/Connected Services/ServiceReferenceTP40/SealedTurboPac2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tp.OneToOneCFDI40" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tp.OneToOneCFDI40" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseSealed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acuse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timbrado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrueFalse" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseSealed" nillable="true" type="tns:ResponseSealed" />
</xs:schema>